
#outside {
    display: block;
    width: 100%;
    position: absolute;
    top: 105px;
    overflow: hidden;
}

.tx-humor>a,
.tx-humor,
.tx-diversao {
    color: #eac5a6;
}

.tx-diversao a {
    color: #eac5a6;
}

.diversao {
    background: #eac5a6;
}

.tx-para-refletir,
.tx-para-refletir>a,
.tx-reflexao {
    color: #c5adc5;
}

.tx-reflexao a {
    color: #c5adc5;
}

.reflexao {
    background: #c5adc5;
}

.tx-diversao a {
    color: #eac5a6;
}

.tx-diversao {
    color: #eac5a6;
}

.diversao {
    background: #eac5a6;
}

.tx-deus,
.tx-jesus,
.tx-evangelica,
.tx-espirita,
.tx-catolica,
.tx-espiritualistas,
.tx-deus a,
.tx-jesus a,
.tx-evangelica a,
.tx-espirita a,
.tx-catolica a,
.tx-espiritualistas a,
.tx-religiao a {
    color: #a3d3e0;
}

.tx-religiao {
    color: #a3d3e0;
}

.religiao {
    background: #a3d3e0;
}

.tx-roxo a {
    color: #bcabc2;
}

.tx-roxo {
    color: #bcabc2;
}

.roxo {
    background: #bcabc2;
}

.tx-familia,
.tx-familia>a,
.tx-sentimentos a {
    color: #e9a6b3;
}

.tx-sentimentos {
    color: #e9a6b3;
}

.sentimentos {
    background: #e9a6b3;
}

.tx-saude a {
    color: #abcd7f;
}

.tx-saude {
    color: #abcd7f;
}

.saude {
    background: #abcd7f;
}