/*--------------------------------------------------------------------------
* 13.comentários
* ------------------------------------------------------------------------*/
#quero_comentar {
    margin-top: 60px;
}

.comments-title,
.comentarios {
    display: block;
    float: left;
    width: 100%;
}

.comments-title {
    margin-bottom: 50px;
    width: 100%;
}

.comments-icone {
    display: block;
    float: left;
    width: 74px;
    height: 67px;
    margin: 0 10px 0 auto;
    text-align: center;
}

.comments-label {
    display: block;
    float: left;
    line-height: 74px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.comments-label>h3 {
    font-size: 36px;
    font-weight: 800;
    line-height: 66px;
    margin: 0;
}

.comentarios>ol.comment-list {
    clear: both;
}

ol.comment-list {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
    padding: 0;
}

ol.comment-list li {
    float: left;
    margin-bottom: 25px;
    width: 100%;
    padding-bottom: 5px;
    list-style-type: none;
    counter-increment: list;
    position: relative;
}

article.comment-body {
    margin-bottom: 0;
    display: block;
    float: left;
}

footer.comment-meta {
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 -4px;
}

.comment-author.vcard {
    display: block;
    float: left;
}

img.avatar.photo {
    border-radius: 100%;
}

.comment-author>b.fn {
    color: #daa2bb;
    margin-left: 6px;
    font-size: 18px;
}

span.says {
    display: none;
}

.comment-metadata {
    margin: 0 0 0 10px;
    display: block;
    float: left;
    line-height: 58px;
}

.comment-metadata a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.comment-content {
    padding: 5px;
    margin: 0;
    padding-left: 74px;
}

.comment-content>p {
    font-size: 16px;
    line-height: 24px;
}

.reply {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

a.comment-reply-link {
    font-size: 16px;
    border: 0;
    margin: 0 0 0 74px;
    background: #e0f5fc;
    font-weight: 700;
    padding: 5px 10px;
    color: #000000;
    border-radius: 10px;
}

ol.children {
    -webkit-padding-start: 74px;
    padding-left: 74px;
}

/*responsive*/
ol.comment-list>li>ol.children li {
    border-bottom: 0;
    margin-bottom: 0;
}

div#respond {
    margin: 0 0 40px 0;
    float: left;
    width: 100%;
}

p.logadocomo {
    font-size: 18px;
}

div#respond input {
    color: #666;
    background: #fff;
    border: 1px solid #e5e1dc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: .7em;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    border-radius: 10px;
}

div#respond p {
    margin-bottom: 30px;
}

p#bibokaquiz {
    margin: 30px 0;
    font-size: 18px;
    line-height: 28px;
}

p#bibokaquiz input {
    width: initial;
}

input#quiz {
    margin-left: 20px;
}

p#bibokaquiz input,
p#bibokaquiz label {
    display: initial;
}

textarea.wpcf7-form-control.wpcf7-textarea,
input.wpcf7-form-control {
    padding: 15px;
    font-size: 18px;
    margin: 20px 0;
    color: #000;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #e5e1dc;
    text-align: left;
}

textarea#comment {
    padding: 15px;
    font-size: 18px;
    color: #000;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #e5e1dc;
}

div#respond input[type=submit] {
    color: #fff;
    background: #daa2bb;
    border: 0;
    width: initial;
    float: right;
    border-radius: 0;
    padding: .7em 25px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}

.comment-awaiting-moderation {
    position: absolute;
    right: -70px;
    width: 100%;
    font-size: 14px;
    top: -56px;
    padding: 10px 20px 10px 20px;
    background: #daa2bb;
    font-weight: 600;
    line-height: 24px;
    border-radius: 20px 0px 20px 20px;
    color: #fff;
}

.comment-awaiting-moderation:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: -22px;
    top: 0px;
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid #daa2bb;
}
div#respond div.campo {
    display: block;
    float: left;
    width: 47.90%;
    margin-bottom: 30px;
}

div#respond div.campo.nome {
    margin-right: 2.07%;
}

div#respond div.campo.email {
    margin-left: 2.07%;
}
@import 'FormValidate.scss';