#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.6rem 8rem;
    background-color: #f7f7f7;
    transition: opacity 1s ease;
    box-shadow: inset -1px -4px 7px 0px rgba(81, 81, 81, 0.3);
    z-index: 99999999;
    &.hidden{
        opacity: 0;
    }

    &.closed{
        display: none;
        width: 0;
        height: 0;
    }
    p {
        margin: 0;
    }
    a {
        color: #000;
        font-weight: 600;
        text-decoration: underline;
    }
    #btConsent{
        // margin: 0px 0 30px 0;
        display: inline-block;
        width: 140px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        background: #daa2bb;
        padding: 15px 30px;
        color: #000;
        border-radius: 10px;
        text-decoration: none;
        box-shadow: 0 5px 10px rgba(81, 81, 81, 0.3);
    }

    .wrapper-consent-popup{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        .wrapper-consent-popup-text{
            display: block;

        }
        .wrapper-consent-popup-bt{
            display: block;
        }
    }
}

@media (max-width: 768px) {
    #consent-popup{
        padding: 15px;
        #btConsent{
            font-size: 14px;
            padding: 8px 15px;
        }
    }

    .wrapper-consent-popup{
        flex-direction: column;
        text-align: center;
    }

}