/*-------------------------------------------------
---------------------------------------------------
////////////////// Responsivo /////////////////////
---------------------------------------------------
---------------------------------------------------*/
a.post-edit-link {
    position: fixed;
    top: 50%;
    left: -16px;
    background: #a3d3e0;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    margin-top: -20px;
    color: #000;
    padding: 5px 20px;
    font-weight: 700;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 10px rgba(81, 81, 81, .3)
}

// @-ms-viewport {
//     width: device-width;
// }

// @viewport {
//     width: device-width;
// }

@media (max-width: 3000px) {}

/*Tablet padrão paisagem*/
@media (max-width: 1024px) {
    .top_ele.barra-de-pesquisa.w33.float-left {
        padding-right: 20px;
    }

    // .site-header.maxi {
    //     min-height: auto;
    // }

    #outside {
        position: relative;
        top: 0px;
    }

    .barra-de-pesquisa.ativo {
        background: rgba(62, 62, 62, 0.4);
        position: absolute;
        left: 0;
        width: 100%;
    }

    input#s:focus {
        float: inherit;
        margin: 0 auto;
        display: block;
        width: 90%;
        height: 50px;
        margin-top: -2px;
    }

    .item-principal {
        width: 100%;
        background: #f2f3f7;
    }

    .item-principal>.item-imagem>a>.box>.content-area>h1 {
        font-size: 24px;
        margin-right: 15px;
    }

    .aqui-voce-encontra>.page-size>.items-circulares {
        max-width: 580px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .rodape-direita>.copyr>span {
        display: block;
        clear: both;
    }

    li.quebra3 {
        clear: both;
    }

    body.search>div#body.search>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
    body>div#body.page_class>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
    body>div#body.page_404>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
    body.archive>div#body>div#page>.area-imagem>div#cabecalho_do_site,
    body.single>div#body>div#page>.area-imagem>div#cabecalho_do_site {
        min-height: auto;
    }

    a.post-edit-link {
        display: none;
    }

    ul.arvore-de-tags {
        margin: 0 15px;
    }

    .tags-da-pagina.archive {
        margin: 60px 15px 30px 15px;
    }

    .w100.page-sem-sidebar.page404 {
        padding: 0 15px;
    }

    input.search-submit {
        width: 100%;
    }

    input.search-field {
        margin: 10px 0 20px 0;
    }
}

@media (max-width: 800px) {
    .item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col1>h1 {
        font-size: 30px;
        line-height: 30px;
    }

    ul.entry-meta.linha_com_dois>li>span,
    ul.entry-meta.linha_com_dois>li>span>a {
        font-size: 16px;
    }

    .item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col1 {
        width: 100%;
    }

    .item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col2 {
        width: 100%;
        margin: 30px 0 10px 0;
    }

    .item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col2>.header-single.header-entry {
        position: relative;
    }
}

/*Tablet padrão retrato */
@media (max-width: 768px) {

    /* 
    Novo Layout 2019=>Novos ajustes para celular=>single::diminuir margin do topo para 20 - LM: 14/05/19
    */
    body.single #main {
        margin-top: 20px;
    }

    .oficial_mobile {
        display: block;
    }

    .oficial {
        display: none;
    }

    .logo {
        padding-top: 14px;
    }

    /*logo do site*/
    #cabecalho_do_site>.container.pai.page-size>.top_ele {
        height: 90px;
    }

    .bgtopo {
        background: #fff url($urlTemplate+"/images/bgs/bg_header_mobile.webp") no-repeat 92% -0px;
    }

    ul.publicacoes.col1 {
        width: 50%;
    }

    ul.publicacoes.col2 {
        width: 50%;
    }

    ul.publicacoes.col3 {
        width: 100%;
    }

    ul.publicacoes.col3 li {
        width: 48%;
        display: inline-block;
        margin: 15px 1%;
    }

    ul.publicacoes.col3 li:nth-child(3),
    ul.publicacoes.col3 li:nth-child(5),
    ul.publicacoes.col3 li:nth-child(7),
    ul.publicacoes.col3 li:nth-child(9),
    ul.publicacoes.col3 li:nth-child(11) {
        clear: both;
    }

    // ul.publicacoes.recomendado.col3>li,
    // div.auto-conhecimento>.page-size>ul.publicacoes.auto-conhecimento.col3>li,
    // div.classicos>.page-size>ul.publicacoes.classicos.col3>li,
    // div.ilustracoes>.page-size>ul.publicacoes.ilustracoes.col3>li {
    //     width: 98%;
    // }

    body>div#body>div#page>.area-imagem>div#cabecalho_do_site.bgtopo {
        background: #fff url($urlTemplate+"/images/bgs/bg_header_mobile.webp") no-repeat 92% -0px;
    }

    body.archive>div#body>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
    body.single>div#body>div#page>.area-imagem>div#cabecalho_do_site.bgtopo {
        background: #fff url($urlTemplate+"/images/bgs/bg_header_mobile.webp") no-repeat 92% -0px;
    }

    div.caixinha-do-bem {
        background: #f2f3f7 url($urlTemplate+"/images/bgs/bg_caixinha_mobile.jpg") no-repeat center;
        background-size: cover;
        position: relative;
    }

    div.caixinha-do-bem>.page-size>ul {
        display: block;
        margin: 0 auto;
        width: 320px;
    }

    div.caixinha-do-bem>.page-size>ul>li {
        width: 100%;
    }

    div.caixinha-do-bem>.page-size>ul>li.col1 {
        text-align: center;
    }

    div.caixinha-do-bem>.page-size>ul>li.col3 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    div.caixinha-do-bem>.page-size>ul>li.col3>a.bt {
        width: 222px;
        margin: 40px auto;
        display: block;
    }

    div.caixinha-do-bem>.page-size>ul>li.col1>h1 {
        margin: 30px 0 10px 0;
    }

    div.caixinha-do-bem>.page-size>ul>li.col1 {
        text-align: center;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    div.caixinha-do-bem>.page-size>ul>li.imagens {
        min-height: inherit;
        margin: 0 auto;
        float: none;
        display: block;
        width: 304px;
        max-width: 100%;
    }

    div.caixinha-do-bem>.page-size>ul>li.imagens>img {
        left: 0;
        position: relative;
    }

    .items-circulares>li>div.area_txt>a>span.label {
        display: none;
    }

    .items-circulares>li>div.area_txt>a>span.label-mobile {
        display: block;
    }

    div.rede-de-amigos {
        background-position-x: right;
        background-size: cover;
    }

    .links-rodape-esquerda {
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .rodape-direita {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    ul.menu-footer>li {
        display: block;
        text-align: center;
        color: rgba(0, 0, 0, 0);
        margin-bottom: 5px;
    }

    .links-rodape-esquerda>ul.menu-footer>li>a {
        font-weight: 600;
        padding: 5px 10px;
        display: inline-block;
        margin: 0;
    }

    .col-1,
    .col-2 {
        flex: 0;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        flex: auto;
    }

    .item-capa-single>.img-area {
        width: 100%;
    }

    .item-capa-single>.img-area>img {
        width: 100%;
    }

    /*Novo Layout 2019=>Novos ajustes para celular:=>single::Alterado a posição para relativa - LM: 14/05/19*/
    /*Novo Layout 2019=>Novos ajustes para celular:=>single::Mais escuro a imagem do título - LM: 14/05/19*/
    /*Novo Layout 2019=>Novos ajustes para celular=>single:: Diminuir ainda mais o tamanho do topo - LM: 15/05/19*/
    .item-capa-single>.img-area>.box-image {
        position: relative;
        padding: 15px 15px 0px 15px;
        background-image: linear-gradient(rgba(0, 0, 0, 0) -30%, rgba(0, 0, 0, 0.7) 60%);
    }

    a.midia-novo.face,
    a.midia-novo {
        position: relative;
    }

    a.midia-novo {
        margin-left: 20px;
        width: 29px;
        height: 28px;
    }

    a.midia-novo.face {
        margin: 0;
    }

    /*
    span.social{width: auto;}
    span.social.ativo a.midia-novo.instagram,
    span.social.ativo a.midia-novo.gmais,span.social.ativo a.midia-novo.pinterest,span.social.ativo a.midia-novo.linkedin,span.social.ativo a.midia-novo.whatsapp{left: inherit;}
    span.area{height: 80px;display: block;float: left;width: 100%;}    
    */


    .tags-da-pagina,
    .content-area {
        display: block;
        padding: 0 15px;
    }

    /*Novo Layout 2019=>Novos ajustes para celular:=>single::Ajustado conforme formatação antiga - LM: 14/05/19*/
    /*Novo Layout 2019=>Novos ajustes para celular=>single:: Diminuir ainda mais o tamanho do topo - LM: 15/05/19*/
    /* 
=====================
Novo Layout 2019=>
=====================
Novos ajustes para celular
=>single:: 
Aumentar a largura do resumo 
- LM: 16/05/19 
Realizado ás 15:20 */
    .content-area.corpo>article {
        display: block;
        width: 100%;
        /*max-width: 320px;*/
        /*16/05/09*/
        margin: 0 auto 20px auto;
        padding: 10px 0;
        /*16/05/09*/
        // font-style: italic;
        color: #3a3737;
        // font-weight: 100;
        font-size: 18px;
        line-height: 28px;
        /*15/05/19*/
    }

    .wp-caption>img,
    .content-area img.alignnone,
    .content-area img.size-full {
        height: auto;
        width: auto;
    }

    #quero_comentar {
        padding: 0 20px;
    }

    div#respond div.campo {
        width: 100%
    }

    div#respond div.campo.nome {
        margin-right: 0;
    }

    div#respond div.campo.email {
        margin-left: 0;
    }

    input#quiz {
        margin-left: 0;
    }

    p#bibokaquiz input {
        display: block;
        clear: both;
        margin: 0 auto;
        margin-top: 18px;
    }

    div#respond p.campos_obrigatorios>span {
        font-size: 18px;
        line-height: 24px;
        display: block;
        text-align: center;
    }

    div#respond input[type=submit] {
        float: none;
        margin: 0 auto;
        display: block;
    }

    div#respond p {
        text-align: center;
    }

    .taxonomy-description {
        display: block;
        width: 100%;
        padding: 0 15px;
    }

    .container-da-paginacao {
        margin-bottom: 0;
        display: block;
        float: inherit;
        max-width: 600px;
        margin: 0 auto;
    }
    // ● Projeto2023Jun02 - Refatoramento do refletir 2023
    // >>26-06-23 - tirado esse código da home (index.php)
    ul.publicacoes-no-js {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Mobiles genéricos padrão*/
@media (max-width: 640px) {

    .nav-label,
    .barra-de-pesquisa-campo>form>label {
        display: none;
    }

    .item-principal .item-imagem {
        width: 100%;
        height: 100%;
    }

    ul.publicacoes.col1 {
        width: 100%;
    }

    ul.publicacoes.col2 {
        width: 100%;
    }

    ul.publicacoes.col3 {
        width: 100%;
    }

    div.auto-conhecimento>.page-size>ul.publicacoes.auto-conhecimento.col3>li,
    div.ilustracoes>.page-size>ul.publicacoes.ilustracoes.col3>li,
    div.classicos>.page-size>ul.publicacoes.classicos,
    ul.publicacoes.col3 li {
        width: 100%;
        display: flex;
        margin: 15px auto;
        justify-content: center;
        flex-direction: column;
    }

    h2.text-center {
        font-size: 32px;
    }

    .items-circulares>li {
        width: 33%;
        margin: 20px 0;
        max-width: initial;
        padding: 0 10px;
    }

    div.frase-do-dia {
        display: block;
        background: url($urlTemplate+"/images/bgs/frase_do_dia_mobile.jpg") no-repeat center top;
    }

    div.frase-do-dia>.page-size>ul li.frase-capa>div.autor {
        margin-top: 20px;
    }

    #interativo>li>div.tenha,
    #interativo>li>.area_img,
    #interativo>li>.area_titulo {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    div.rede-de-amigos>.page-size>ul>li>div.titulo {
        font-size: 30px;
    }

    #interativo>li>div.tenha {
        text-align: center;
        margin-bottom: 10px;
    }

    #interativo>li>.area_titulo>h5 {
        margin-top: -30px;
    }

    .maior_que_768 {
        display: none;
    }

    .menor_que_768 {
        display: block;
    }

    .biboka_quiz_li div.col1 {
        display: block;
        width: 100%;
        height: auto;
    }

    .rodape {
        margin-bottom: 50px;
    }

    body.archive #interativo>li {
        height: auto;
        margin: 0;
    }
}

@media (max-width: 500px) {
    div.frase-do-dia>.page-size>ul {
        width: 100%;
    }

    .item-capa-single>.img-area>img {
        width: 100%;
        min-height: 300px;
    }

    .item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col1 {
        width: 100%;
    }

    .row-1 article .font18 {
        font-size: 0.8em;
    }
}

/*Mobiles pequenos*/
@media (max-width: 440px) {
    .item-principal>.item-imagem>a>.box>.content-area>h1 {
        font-size: 22px;
    }

    .mensagens-do-bem>.page-size input[type="email"] {
        width: 90%;
    }

    div.frase-do-dia>.page-size>ul {
        height: auto;
        margin: 0px auto 0 auto;
    }

    div.frase-do-dia>.page-size>h2 {
        margin: 46px auto 90px auto;
    }

    div.frase-do-dia>.page-size>ul li.frase-capa>p,
    .mensagens-do-bem>.page-size>article>.content>p {
        padding: 0 5px;
    }

    div.frase-do-dia>.page-size>ul li.frase-capa>p {
        font-size: 30px;
        line-height: 35px;
    }

    div.aqui-voce-encontra>.page-size>ul.items-circulares>li>div.area_txt>a>span.label-mobile {
        font-size: 15px;
    }
}

@media (max-width: 340px) {
    input#s:focus {
        float: left;
        margin: 0;
        width: 265px;
        height: 84px;
        margin-top: -20px;
        border-radius: 0px;
        background-position-x: -277px;
        background-position-y: -74px;
    }

    ul.entry-meta.linha_com_dois>li>span {
        padding-left: 6px;
        font-size: 15px;
    }
}