
table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.4em;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
    td {
        border: 1px solid #ededed;
        padding: 6px;
        &.head {
            background: #fbfbfb;
            font-weight: 600;
            text-align: center;
        }
        &.linha.valor {
            text-align: center;
            vertical-align: middle;
        }
    }
}
