/*Single*/
/* body.archive .area-imagem, body.single .area-imagem{min-height: 585px;} */
body>div#body.page_class #main,
body>div#body.page_404 #main,
body>div#body.search #main,
body.archive #main {
    clear: both;
    width: 100%;
    display: block;
    float: left;
}

body>div#body.page_class .area-imagem,
body>div#body.page_404 .area-imagem,
body>div#body.search .area-imagem,
body.archive .area-imagem,
body.single #main {
    clear: both;
    width: 100%;
    display: block;
    float: left;
}

body>div#body.page_class #main,
body>div#body.page_404 #main,
body>div#body.search #main,
body.archive #main,
body.single #main {
    margin-top: 50px;
}

body.archive>div#body>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
body.single>div#body>div#page>.area-imagem>div#cabecalho_do_site.bgtopo {
    background-size: cover;
}

/*Páginas sem imagem de cabeçalho*/
body.page-template.page-template-pagina-contato>div#body>div#page>.area-imagem>div#cabecalho_do_site {
    min-height: auto;
}

// body.single>div#body>div#page>.area-imagem>div#cabecalho_do_site ,
// body>div#body.page_class>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
body>div#body.page_404>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
body>div#body.search>div#page>.area-imagem>div#cabecalho_do_site.bgtopo,
body.archive>div#body>div#page>.area-imagem>div#cabecalho_do_site
{
    min-height: 585px;
}

.item-capa-single {
    float: left;
    width: 100%;
    text-align: center;
}

.item-capa-single>.img-area {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1160px;
}

.item-capa-single>.img-area>img.img-capa.maior_que_768 {
    width: 100%;
    max-height: 480px;
}

/* Novo Layout 2019=>Novos ajustes para celular=>single::bg-cover - LM: 14/05/19 */
.item-capa-single>.img-area>img {
    margin: 0 auto;
    background-size: cover;
}

.item-capa-single>.img-area>.box-image {
    position: absolute;
    bottom: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,0.7) 70%);
}

.item-capa-single>.img-area>.box-image>.content-area-image {
    display: table;
    position: relative;
    height: 100%;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col1 {
    float: left;
    display: block;
    width: 600px;
    max-width: 100%;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col1>h1 {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #fff;
    margin: 0;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col2 {
    float: right;
    display: block;
    width: 320px;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.col2>.header-single.header-entry {
    position: absolute;
    bottom: 10px;
}

.item-capa-single>.img-area>.box-image>.content-area-image>.tabcel>.barra-cor {
    text-align: left;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

/***bandeiras**/
// .texto-bandeira {
//     display: block;
//     float: left;
//     line-height: 23px;
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: 900;
// }

// .bandeirinha-area {
//     display: block;
//     float: left;
//     width: 32px;
//     height: 23px;
//     border: solid 1px #fff;
//     border-right: none;
//     margin-right: 10px;
//     position: relative;
//     overflow: hidden;
// }

// .bandeirinha-area>.bandeira-a {
//     border-top: solid 1px #fff;
//     transform: rotate(58deg);
//     width: 23px;
//     height: 2px;
//     position: absolute;
//     right: -10px;
//     top: 20px;
// }

// .bandeirinha-area>.bandeira-b {
//     border-top: solid 1px #fff;
//     transform: rotate(-58deg);
//     width: 23px;
//     height: 1px;
//     position: absolute;
//     right: -10px;
//     top: 1px;
// }

// .bandeirinha-area.tx-diversao {
//     border: solid 1px #eac5a6;
//     border-right: none;
// }

// .bandeirinha-area.tx-diversao>.bandeira-a,
// .bandeirinha-area.tx-diversao>.bandeira-b {
//     border-top: solid 1px #eac5a6;
// }

// .bandeirinha-area.tx-reflexao {
//     border: solid 1px #c5adc5;
//     border-right: none;
// }

// .bandeirinha-area.tx-reflexao>.bandeira-a,
// .bandeirinha-area.tx-reflexao>.bandeira-b {
//     border-top: solid 1px #c5adc5;
// }

// .bandeirinha-area.tx-roxo {
//     border: solid 1px #bcabc2;
//     border-right: none;
// }

// .bandeirinha-area.tx-roxo>.bandeira-a,
// .bandeirinha-area.tx-roxo>.bandeira-b {
//     border-top: solid 1px #bcabc2;
// }

// .bandeirinha-area.tx-sentimentos {
//     border: solid 1px #e9a6b3;
//     border-right: none;
// }

// .bandeirinha-area.tx-sentimentos>.bandeira-a,
// .bandeirinha-area.tx-sentimentos>.bandeira-b {
//     border-top: solid 1px #e9a6b3;
// }

// .bandeirinha-area.tx-religiao {
//     border: solid 1px #a3d3e0;
//     border-right: none;
// }

// .bandeirinha-area.tx-religiao>.bandeira-a,
// .bandeirinha-area.tx-religiao>.bandeira-b {
//     border-top: solid 1px #a3d3e0;
// }

ul.entry-meta.linha_com_dois {
    width: 100%;
    float: left;
}

ul.entry-meta.linha_com_dois>li {
    display: block;
    float: left;
}

ul.entry-meta.linha_com_dois>li.single-data {
    margin-right: 15px;
}

ul.entry-meta.linha_com_dois>li>span {
    display: block;
    float: left;
    line-height: 35px;
    font-size: 18px;
    padding-left: 8px;
}

ul.entry-meta.linha_com_dois>li>span>a {
    color: #fff;
    font-size: 18px;
}

ul.entry-meta.linha_com_dois>li>span.icone-data-publicao {
    width: 35px;
    height: 35px;
    padding: 0;
    background: url($urlTemplate+"/images/elementos/elementos2019.webp") -110px -112px no-repeat;
}

ul.entry-meta.linha_com_dois>li>span.icone-autor-publicacao {
    width: 27px;
    height: 35px;
    padding: 0;
    background: url($urlTemplate+"/images/elementos/elementos2019.webp") -202px -109px no-repeat;
}

.maior_que_768 {
    display: block;
}

.menor_que_768 {
    display: none;
}

/*Novo Layout 2019=>Novos ajustes para celular=>single:: Diminuir ainda mais o tamanho do topo - LM: 15/05/19*/
.content-area.corpo {
    margin-bottom: 60px;
    font-size: 20px;
}